
h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Carter One', cursive;
}


h2 {
    position: absolute;
    top: 68%;
    left: 28%;
    text-align: center;
    font-size: 15px;
    font-family: 'Carter One', cursive;
}

#message {
    font-size: 27px;
    position: absolute;
    top: 80%;
    left: 40%;
    font-family: 'Carter One', cursive;
    text-align: center;
}

#winMessage {
    font-size: 30px;
    position: absolute;
    top: 80%;
    left: 45%;
    font-family: 'Carter One', cursive;
    text-align: center;
}

#guess {
    letter-spacing: 15px;
    font-size: 30px;
    text-align: center;
    font-family: 'Carter One', cursive;
    width: 360px;
    position: absolute;
    top: 70%;
    left: 36%;
}

#hint {
    font-size: 20px;
    position: absolute;
    top: 63%;
    left: 35%;
    text-align: center;
    font-family: 'Carter One', cursive;
    color: grey;
}

table {
    display: block;
    position: absolute;
    top: 82%;
    left: 31.2%;
}

td {
    border: 2px solid black;
    text-align: center;
    padding: 10px; 
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Hammersmith One', sans-serif;
}

.disable-td {
    background-color: darkgrey;
    cursor: default;
    color: #f4d211;
}

#hang-img {
     position: absolute;
     top: 18%;
     left: 37%;
}

#newgame {
    position: absolute;
    top: 71%;
    left: 63%;
    line-height: 14px;
    width: 75px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    font-family: 'Carter One', cursive;
}
