

h1 {
    font-size: 50px;
}

h1, h2 {
    text-align: center;
}

div#wrongLetter {
    font-size: 25px;
    text-align: center;
}

#guess {
    letter-spacing: 25px;
    font-size: 30px;
    text-align: center;
}

table {
    margin: 0 30%;
    display: block;
}

td {
    border: 2px solid black;
    text-align: center;
    padding: 10px; 
    cursor: pointer;
    border-radius: 20px;
}

.disable-td {
    background-color: grey;
    cursor: default;
    color: darkgrey;
}

img#hang-img {
    display: block;
    margin: 0 38%;
}