

h1 {
    font-size: 50px;
}

h1, h2 {
    text-align: center;
}

div#wrongLetter, #hint, #message {
    font-size: 25px;
    text-align: center;
}

#guess {
    letter-spacing: 25px;
    font-size: 30px;
    text-align: center;
}

#hint {
    font-size: 20px;
}

table {
    margin: 0 30%;
    display: block;
}

td {
    border: 2px solid black;
    text-align: center;
    padding: 10px; 
    cursor: pointer;
    border-radius: 20px;
}

.disable-td {
    background-color: grey;
    cursor: default;
    color: darkgrey;
}

img#hang-img {
    display: block;
    margin: 0 40%;
}

#newgame {
    margin: -2% 28%;
    padding: 5px;
    display: block;
    width: 75px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
    float: right;
    cursor: pointer;
}